@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.container-navbar{
  /* background-color: aqua; */
  box-shadow: 0px 10px 50px -25px rgba(0,0,0,0.75);;
}

nav {
  /* background-color: aqua; */
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 65px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding: 0.75rem;
  color: #000000;
}

.link a::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #2e90ff;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 100%;
  border-radius: 15px;
}

.btn a {
  background-color: #2e90ff;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.btn a:hover {
  background-color: #006ae2;
  border-color: #0077ff;
  color: rgb(233, 233, 233);
  transition: all 0.3s ease;
}